In [1]:
# !pip install yfinance

Requirement already satisfied: yfinance in /home/hduser/anaconda3/lib/python3.11/site-packages (0.2.37)
Requirement already satisfied: pandas>=1.3.0 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (2.4.1)
Requirement already satisfied: peewee>=3.16.2 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /home/hduser/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /home/hduser/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /home/hduser/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/hduser/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /home/hduser/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/hduser/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/hduser/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/hduser/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /home/hduser/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2024.2.2)

In [2]:
import yfinance as yf

/home/hduser/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
df = yf.download("AMZN")

[*********************100%%**********************]  1 of 1 completed

In [4]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6771 entries, 1997-05-15 to 2024-04-11
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       6771 non-null   float64
 1   High       6771 non-null   float64
 2   Low        6771 non-null   float64
 3   Close      6771 non-null   float64
 4   Adj Close  6771 non-null   float64
 5   Volume     6771 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 370.3 KB

In [6]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,6771.000000,6771.000000,6771.000000,6771.000000,6771.000000,6.771000e+03
mean,35.714500,36.140462,35.257590,35.709196,35.709196,1.391398e+08
std,51.711125,52.309453,51.067876,51.694481,51.694481,1.386142e+08
min,0.070313,0.072396,0.065625,0.069792,0.069792,9.744000e+06
25%,2.060969,2.100000,2.019750,2.059500,2.059500,6.603800e+07
50%,8.115000,8.249500,8.038000,8.130000,8.130000,1.029620e+08
75%,48.895750,49.121000,48.376751,48.810001,48.810001,1.576060e+08
max,187.240005,189.770004,185.509995,189.050003,189.050003,2.086584e+09

In [7]:
df.head()

                Open      High       Low     Close  Adj Close      Volume
Date
1997-05-15  0.121875  0.125000  0.096354  0.097917   0.097917  1443120000
1997-05-16  0.098438  0.098958  0.085417  0.086458   0.086458   294000000
1997-05-19  0.088021  0.088542  0.081250  0.085417   0.085417   122136000
1997-05-20  0.086458  0.087500  0.081771  0.081771   0.081771   109344000
1997-05-21  0.081771  0.082292  0.068750  0.071354   0.071354   377064000

In [8]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-04-05,182.380005,186.270004,181.970001,185.070007,185.070007,42335200
2024-04-08,186.899994,187.289993,184.809998,185.190002,185.190002,39221300
2024-04-09,187.240005,187.339996,184.199997,185.669998,185.669998,36546900
2024-04-10,182.770004,186.270004,182.669998,185.949997,185.949997,35879200
2024-04-11,186.740005,189.770004,185.509995,189.050003,189.050003,39941700

In [9]:
df.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [ ]:
snp_df = yf.download("SPX")

In [ ]:
snp_df.head()

In [ ]:
snp_df.describe()